
div{
  /*border: solid;*/
  /*margin: 0px !important;*/
}

.sidenav{
  background-color: black;
  display: block;
  padding: 0px !important;
  height: 800px;
}

.sidenav ul li{
  margin-bottom: 15px;
  list-style: none;
}

.socialmedia{
  float:right;
  margin: 10px !important;
}

.homeprofile{
  border-bottom: 1px solid #dddddd;
  margin-top: 50px;
}

.homenav{
  margin-top: 50px;
  list-style: none;
}

.nav-pills li a{
  color: black !important;
  list-style: none;
}

.nav-pills li a:hover{
  color: #BB3416!important;
  text-decoration: underline;
}

.nav-pills>li.active>a{
  background-color: #7cc576;
  color: white;
}

.nav-pills>li.active>a:hover{
  background-color: #7cc576;
  color: white;
}

.post{
  padding: 5px !important;
  margin-top: 40px;
}

.postheader{
  border-bottom: 1px solid;
}

.postlink{
  color: #7cc576 !important;
}

.postcontent p{
  margin-top: 20px;
}

.btnContinue{
  display: inline-block;
  padding: 15px;
  font-size: 15px;
  text-align: center;
  color: #ffffff;
  font-family: sans-serif;
  background-color: #333333;
  border-radius: 2px;
}

.btnContinue:hover{
  background-color: #7cc576;
}

.rightnav{
  margin-top: 50px;
}

.postcomments{
  padding-left: 0px;
}

.ads{
  padding-bottom: 20px;
  border-bottom: 1px solid #dddddd;
}

.sidecomments{
  padding: 0px;
  margin: 50px 0 0 0;
}

.postcomments ul li {
  list-style: none;
}

.postcomments ul li a{
  color: black;
}

.postcomments ul li a:hover{
  color: #7cc576;
}

.navbuttons ul li a{
  display: block;
  padding: 10px;
  font-size: 10px;
  text-align: center;
  color: #ffffff;
  font-family: sans-serif;
  background-color: #7cc576;
  border-radius: 2px;
}

.navbuttons ul li{
  display: inline-flex;
  /*padding: 10px;*/
}

.navbuttons>li.active a{
  background-color: #7cc576;
  color: white;
}

.navbuttons>li.active>a:hover{
  background-color: #7cc576;
  color: white;
}
